streamlit
google-generativeai
git+https://github.com/openai/whisper.git
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-pinecone
langchain-text-splitters
sentence-transformers
transformers
huggingface-hub
pinecone
pinecone-client
chromadb
librosa
soundfile
gTTS
pyttsx3
streamlit_mic_recorder
PyPDF2
pypdf
requests
vosk
numpy
pandas
torch
torchaudio
pywin32
pypiwin32
pydantic
PyYAML
packaging
typing_extensions
